block nav
	nav.nav.fixed.w-full.block.shadow-sm.bg-warmGray-900
		.desktop
			.flex.flex-nowrap.justify-between
				a.font-bold.btn.btn-text-primary(href="index.html")
					| JS Dungeon
				.right.flex.flex-nowrap.flex-end
					.flex.flex-nowrap.items-center.text-primary-500.mr-3.space-x-2
						a.p-1.font-bold.btn.btn-text-primary-light(href=pages.personal.github)
							i.fab.fa-github
						a.p-1.font-bold.btn.btn-text-primary-light(href=pages.personal.email)
							i.fas.fa-paper-plane
					button.dropdown.relative.font-bold.btn.btn-primary.border-l-2.border-warmGray-800
						span 
							| 查看目錄
							i.fas.fa-angle-down.ml-1
						ul.dropdown-list.text-left.max-h-60.overflow-y-auto
							- var pageData = pages.jsDungeon
							each page in pageData.details
								li 
									a.btn.btn-sm.btn-primary.btn-full(href=page.href) 
										| #{page.id}-#{page.title_zh}
	.pb-12