extend ./modules/layout.pug

block append head
	- var nav_darkbg = true
	title JSDungeon | JS地下城 | Home Page

block content
	//- TODO background image
	.text-white.bg-black.bg-bottom.bg-cover.bg-repeat(style="background-image: url(assets/images/index_cover.jpg);")
		section.container.text-white(style="min-height:70vh")
			.row.pt-20.mb-20
				.col.text-center(class="w-full")
					h1.mb-8.text-5xl.text-primary-400 JS Dungeon
					p
						| 本網頁源自於六角學院的「JS地下城」課程，僅做為練習的紀錄用。
						br
						| 如果寫得很差...就是我太爛沒錯！有任何建議都可以
						a(href="mailto:kevinshu1995@gmail.com" data-tooltip="點擊寄信") 聯絡我
						| 。
			.row.pb-20.justify-center
				.col.text-center.mb-6(class="w-full")
					h2.mb-5.text-xl.text-primary-400 本站使用技術或框架
					ul.flex.justify-center(class="flex-col sm:flex-row space-y-4 sm:space-y-0 space-x-0 sm:space-x-8")
						li Gulp
						li HTML / Pug
						li CSS / Sass / TailwindCss
						li JavaScript
				.col(class="md:w-4/12 w-8/12")
					p.text-warmGray-400 設計稿為六角學院提供，練習的畫面都是使用原生 Javascript 撰寫，其餘共用功能手寫。
				.col(class="md:w-4/12 w-8/12")
					p.text-warmGray-400 此專案使用了 Gulp，以 PUG、SASS 撰寫頁面， CSS 框架嘗試使用 TailwindCss，用起來蠻順手好玩的，持續學習。
			.row.pb-10
				.col.mb-1(class="w-full")
					.flex.justify-center.mb-4
						.w-40
							img.inline-block.rounded-full.overflow-hidden(src=`assets/images/${pages.personal.avatar}`)
					h2.text-base.text-normal.text-center.text-primary-400 Kevin Hsu
				.col(class="w-full")
					ul.flex.justify-center.space-x-4.text-sm
						li.ml-2
							a.text-white(data-tooltip="點擊寄信" href=pages.personal.email)
								i.fas.fa-paper-plane.mr-1
								span 聯絡我
						li
							a.text-white(data-tooltip="點擊前往" href=pages.personal.github target="_blank")
								i.fab.fa-github.mr-1
								span kevinshu1995
	.text-white.bg-black
		section.container
			.row.py-10
				.col.mb-5.text-center(class="w-full")
					.w-full.flex.space-x-8.mb-3
						.relative.bottom-4.border-b-2.border-primary-400.flex-grow.order-1
						.relative.bottom-4.border-b-2.border-primary-400.flex-grow.order-3
						h2.text-primary-400.font-bold.text-center.order-2
							| JS 地下城
					p 用原生 JS 寫的各種小東西。
				- var pageData = pages.jsDungeon
				each page in pageData.details
					- var imgSrc = `${pageData.shareParam.imagePrefix}${page.image}`
					.col(class="lg:w-3/12 sm:w-6/12 w-12/12")
						a.group.card(href=page.href)
							img.card__img(class="group-hover:filter-none" src=imgSrc )
							.card__wrap(class="group-hover:text-primary-400 group-hover:px-3")
								h4.card__title.mb-1(class="group-hover:text-primary-400") 
									| #{page.id} | #{page.title_zh}
								h5.card__content #{page.title_en}
								p.card__content #{page.describe}
block footer
	include ./modules/footer